.cart-item {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-details {
  flex: 1;
}

.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  box-shadow: 5px;
  margin-left: 10px;
}
